{:paths
 ["src"]
 :deps
 {
  com.taoensso/timbre     {:mvn/version "6.0.4"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}
  http-kit/http-kit       {:mvn/version "2.7.0"}
  ring/ring-json {:mvn/version "0.5.1"}
  org.clojure/core.async  {:mvn/version "1.6.673"}
  compojure/compojure     {:mvn/version "1.7.0"}
  com.novemberain/langohr {:mvn/version "5.4.0"}
  org.clojure/data.json   {:mvn/version "2.3.1"}
  }
 :aliases {}
 }